<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bodega mayorista. Ventas al por mayor y al detal, artículos para el hogar y cacharrería en general">
    <meta name="keywords" content="catalogo, belleza, secadores, cepillo secador, hogar, deporte, armarios, baño, organizadores, freidoras de aire, radios, teléfonos, lamparas, lamparas infantiles, ventiladores, bombillos, camaras, camaras inteligentes, relojes, reloj, reloj de pared, reloj de mesa, smartwatch, microondas, patilleras, máquinas de motilar, coser">
    <title>Política de Privacidad - Varisti</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dvyenqzki/image/upload/v1739135375/Imagen_de_WhatsApp_2025-02-09_a_las_16.03.51_56e6f4f7_ixkvvw.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X07XGLGN51"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X07XGLGN51');
</script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
        body {
            font-family: "Roboto Slab", serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            line-height: 1.8;
            background: linear-gradient(to top, #ffffff, rgb(255, 255, 255)), linear-gradient(to bottom, #ffffff, rgb(255, 255, 255));
            padding: 0;
            margin: 0;
        }
        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 40px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        h1 {
            text-align: center;
            font-size: 2.5em;
            margin-bottom: 20px;
        }
        h2 {
            text-align: left;
            font-size: 1.5em;
            margin-top: 40px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }
        p {
            text-align: justify;
            margin-bottom: 20px;
            font-size: 1.1em;
        }
        .book-page {
            position: relative;
            padding: 40px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .book-page:before, .book-page:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50%;
            background: #fff;
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: -1;
        }
        .book-page:before {
            left: 0;
            border-radius: 10px 0 0 10px;
        }
        .book-page:after {
            right: 0;
            border-radius: 0 10px 10px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="book-page">
            <h1>Política de Privacidad</h1>
            <p>En Varisti, nos tomamos muy en serio la privacidad de nuestros clientes. Esta política de privacidad explica cómo recopilamos, utilizamos y protegemos la información personal que usted proporciona cuando realiza un pedido en nuestra tienda.</p>
            <h2>Recopilación de Información</h2>
            <p>Cuando usted realiza un pedido en Varisti, le solicitamos su nombre completo, cédula, teléfono, dirección y barrio para poder procesar y entregar su pedido de manera efectiva. Estos datos se utilizan únicamente con el propósito de completar su solicitud de servicio y no se comparten con terceros a menos que sea necesario para cumplir con su pedido.</p>
            <h2>Uso de la Información</h2>
            <p>Su información personal es utilizada exclusivamente para proporcionarle el servicio de entrega que ha solicitado. No utilizamos esta información con ningún otro propósito y no la compartimos con terceros, excepto en la medida necesaria para cumplir con su pedido. En algunos casos, utilizamos servicios de transportadoras para realizar las entregas.</p>
            <h2>Seguridad de la Información</h2>
            <p>Implementamos medidas de seguridad adecuadas para proteger la información personal que usted nos proporciona. Tomamos precauciones para proteger su información tanto en línea como fuera de línea.</p>
            <h2>Consentimiento</h2>
            <p>Al utilizar nuestros servicios y proporcionarnos sus datos usted acepta.</p>
            <h2>Cambios en la Política de Privacidad</h2>
            <p>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Cualquier cambio será efectivo inmediatamente después de su publicación en esta página.</p>
            <h2>Contacto</h2>
            <p>Si tiene alguna pregunta sobre esta política de privacidad, por favor contáctenos a través de los medios proporcionados en nuestra tienda.</p>
            <p>Gracias por confiar en Varisti.</p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
