<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Citas</title>
    <link rel="shortcut icon" href="https://i.ibb.co/tLnJrKD/pixelcut-export-1.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2LQNMD9R7G"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-2LQNMD9R7G');
    </script>

<style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
    html{
    zoom: 0.8;
}

    body,
    html {
        background-color: #140314;
        background-image: url('https://i.ibb.co/tDpmFFB/inicio-sesion-image.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        max-width: auto;
        padding: 20px;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.88);
        font-family: "Roboto Slab", serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
    }

    .form-container {
        background: #ffffff;
        width: 25rem;
        font-family: 'Nunito', sans-serif;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 14px 14px 20px #160115, -14px -14px 20px #160115;
        margin-right: 560px;
    }

    @media (max-width: 800px) {
        .form-container {
            margin-right: 0;
            /* Elimina el margen derecho cuando el ancho de la ventana sea menor que 800px */
        }
    }

    @media (max-width: 1200px) {
        .form-container {
            margin-right: 20px;
            /* Ajusta el margen derecho para tablet */
        }
    }

    .form-container .title {
        color: #140314;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        margin: 0 0 10px 0;
    }

    .form-container .form-horizontal .form-group {
        margin: 0 0 25px 0;
    }

    .form-container .form-horizontal .form-group label {
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 2px;
    }

    .form-container .form-horizontal .form-control {
        color: #333;
        background: #ecf0f3;
        font-size: 15px;
        height: 50px;
        padding: 20px;
        letter-spacing: 1px;
        border: none;
        border-radius: 50px;
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
        display: inline-block;
        transition: all 0.3s ease 0s;
    }

    .form-container input,
    .form-container select,
    .form-container textarea {
        color: #333;
        background: #ecf0f3;
        font-size: 15px;
        height: 50px;
        padding: 20px;
        letter-spacing: 1px;
        border: none;
        border-radius: 50px;
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
        display: inline-block;
        transition: all 0.3s ease 0s;
    }

    .form-container .form-horizontal .form-control:focus {
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
        outline: none;
    }

    .form-container .form-horizontal .form-control::placeholder {
        color: #808080;
        font-size: 14px;
    }

    .form-container .form-horizontal .btn {
        color: #ffffff;
        background-color: #160115;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        padding: 12px 15px 11px;
        border-radius: 20px;
        box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #fff;
        border: none;
        transition: all 0.5s ease 0s;
    }

    .form-container .form-horizontal .btn:hover,
    .form-container .form-horizontal .btn:focus {
        color: #fff;
        letter-spacing: 3px;
        box-shadow: none;
        outline: none;
    }

    .btn {
        color: #ffffff;
        background-color: #160115;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        padding: 12px 15px 11px;
        border-radius: 20px;
        box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #fff;
        border: none;
        transition: all 0.5s ease 0s;
    }
</style>

<body>
    <div class="form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-container">
                        <h1 class="text-center mb-4">Formulario de Citas</h1>
                        <form action="/registrar-cita" method="POST" id="citaForm">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="celular" class="form-label">Número de celular:</label>
                                <input type="tel" class="form-control" id="celular" name="celular" required
                                    pattern="[0-9]{10}" title="Por favor ingrese un número de celular de 10 dígitos">
                            </div>
                            <div class="mb-3">
                                <label for="motivo">Motivo (Cotización, Visualizacion del vehiculo, otro)</label>
                                <textarea class="form-control" id="motivo" name="motivo" rows="3" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="fecha" class="form-label">Fecha:</label>
                                <input type="date" class="form-control" id="fecha" name="fecha" required>
                            </div>
                            <div class="mb-3">
                                <label for="hora" class="form-label">Hora:</label>
                                <input type="time" class="form-control" id="hora" name="hora" required min="09:00"
                                    max="17:00" step="3600" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Registrar Cita</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const citaForm = document.getElementById('citaForm');
            const fechaInput = document.getElementById('fecha');
            const horaInput = document.getElementById('hora');

            citaForm.addEventListener('submit', function (event) {
                event.preventDefault();

                const fechaSeleccionada = new Date(fechaInput.value);
                const horaSeleccionada = horaInput.value.split(':');
                fechaSeleccionada.setHours(horaSeleccionada[0]);
                fechaSeleccionada.setMinutes(horaSeleccionada[1]);
                const fechaActual = new Date();

                console.log("Fecha seleccionada:", fechaSeleccionada);
                console.log("Fecha actual:", fechaActual);

                if (fechaSeleccionada < fechaActual && fechaSeleccionada.getHours() <= fechaActual.getHours()) {
                    alert('La fecha y hora seleccionadas deben ser posteriores a la fecha y hora actual.');
                    return;
                }

                // Si la hora seleccionada es mayor a la hora actual, permitir el registro de la cita
                if (fechaSeleccionada.getHours() > fechaActual.getHours()) {
                    citaForm.submit();
                    return;
                }

                // Si la fecha y hora son válidas, puedes enviar el formulario
                citaForm.submit();
            });
        });
    </script>




    <!-- Bootstrap JS (opcional, solo si lo necesitas) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Font Awesome JS (opcional, solo si lo necesitas) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <!-- Tu archivo app.js -->
    <script src="app.js"></script>
</body>

</html>